<%- include ./partials/sidebar-left %>

<div class="container">
    <a href="/create-post" class="mt-4 btn btn-success">Create Post</a>
    <h3 class="mt-5">Posts</h3>
    <div style="color: green"><%= typeof messages !== "undefined" && typeof messages.info !== "undefined" ? messages.info : "" %></div>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Date</th>
                <th scope="col">Text</th>
                <th scope="col">Image</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% results.forEach(result => { %>
            <tr>
                <td><%= result.id %></td>
                <td><%= result.title %></td>
                <td><%= result.author %></td>
                <td><%= result.date %></td>
                <td><%= result.text %></td>
                <td><img src="<%= result.images %>" width="60"></td>
                <td>
                    <a href="/edit-post/<%= result.id %>" class="btn btn-info">Edit</a>
                    <a href="/delete-post/<%= result.id %>" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>