<%- include ./partials/header %>

<div class="container mt-5">
    <h3><%= result.title %></h3>
    <img src="<%= result.images %>" width="700">
    <p class="text-muted"><%= result.date %></p>
    <p><%= result.text %></p>
</div>